<md-content ng-controller="InstanceController">
    
    <!-- loading spinner -->
    <div ng-if="loading" class="loading-bg">
        <div class="loader">
          <svg class="circular">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" 
                stroke-miterlimit="10"/>
          </svg>
        </div>
        <div class="loading-text">Loading...</span></div>
    </div>

    <!-- seed display -->
    <div id="seedDisplay" layout="row">
        
        <div layout="column" ng-repeat="seed in seedList">
            
            <md-input-container ng-if="seed[1].type == 'math'">
                <label>{{ seed[0] }}</label>
                <input type="text" 
                    ng-blur="seedChangeAsynch($event, seed[0])"
                    ng-change="seedChange($event)" 
                    ng-model="seed[1].value" />
                <div ng-if="seed[1].parsing">
                    <spinner />
                    <span class="text-muted"> parsing...</span>
                </div>
                <div ng-if="!seed[1].parsing" class="text-muted">${{ seed[1].latex }}$</div>
            </md-input-container>

            <md-input-container 
                ng-if="seed[1].type == 'string' || seed[1].type == 'number'">
                <label>{{ seed[0] }}</label>
                <input type="text" 
                    ng-change="seedChange($event)" 
                    ng-model="seed[1].value" />
            </md-input-container>

            <md-input-container 
                ng-if="seed[1].type == 'color'">
                <label>{{ seed[0] }}</label>
                <input type="text" colorpicker 
                    ng-change="seedChange($event)" 
                    ng-model="seed[1].value" />
            </md-input-container>
            
           
        </div>

        
   
        <br />
        <button ng-click="updateInstance()" 
            class="btn btn-primary" ng-disabled="!seedTouched">Reload</button>
        <button ng-click="saveAsNewInstance()" 
            class="btn btn-warning" ng-disabled="!readyToSave">Save as new instance</button>
    </div>
<!--  -->
    <!-- bottombar -->
    <div id="toolbar-bottom" layout-padding layout-align="start center">
          
        <div id="footer-title" class="pull-left">{{ instance.game.title }}</div>
        <em>{{ timeElapsed | round }}</em>

        <div class="container-fluid pull-right">
            <button type="button" class="btn btn-primary" ng-click="snapshot()">
              <span class="glyphicon glyphicon-camera"></span>
              Snapshot</button>&nbsp;
            <button type="button" class="btn btn-warning" ng-click="editSource()">
              <span class="glyphicon glyphicon-eye-open"></span>
              View source-code</button>
        </div>
           
    </div>
   

</md-content>