<md-content ng-controller="AppEditorController" ng-cloak ng-init="initializeEditor()">

    <form id="app-form">

      <md-content class="container-fluid" layout="row" layout-padding>
        <div flex="30" layout="column" layout-align="top down">

          <md-input-container>
            <label for="id_title">Title</label>
            <input type="text" id="id_title" placeholder="Title" ng-model="app.title" />
          </md-input-container>
          <md-input-container>
              <label>Category</label>
              <md-select ng-model="app.category">
                <md-option ng-repeat="category in categories" 
                  ng-value="category.name"
                  ng-selected="(category.name == app.category) ? true:false">{{category.name}}</md-option>
              </md-select>
            </md-input-container><br />
            <md-input-container>
              <label>Script Language</label>
              <md-select ng-model="app.scriptType">
                <md-option ng-repeat="st in scriptTypes" ng-value="st">{{st}}</md-option>
              </md-select>
            </md-input-container><br />
          <md-input-container>
            <label class="control-label">Description</label>
          
              <textarea type="text" id="id_description"
                ng-model="app.description"></textarea>
           
          </md-input-container>

        </div>
        <div flex="grow" layout="column">
          <div class="control-group">
            <label class="control-label">Script</label>
            <ui-codemirror ui-codemirror-opts="cmOptions" id="source_textarea"
              ng-model="app.source" ui-refresh="editor1"></ui-codemirror>
          </div>

          <div class="control-group">
            <label class="control-label">Seed Structure</label>
            <ui-codemirror ui-codemirror-opts="cm2Options"
              id="seed_textarea"
              ng-model="app.seedStructure" ui-refresh="editor2"
              ></ui-codemirror>
          </div>
        </div>
      </md-content>


    </form>

    
   


<div id="toolbar-bottom">
  <md-button class="md-primary md-raised" md-ripple-size="full" ng-click="back()">Cancel</md-button>

  <md-button class="md-success md-raised" md-ripple-size="full" 
  ng-click="saveapp(event)">Save</md-button>
</div>

</md-content>