<md-content ng-controller="InstanceController" ng-init="initialize()">
    
    <!-- loading spinner -->
    <div ng-if="loading" class="loading-bg">
        <div class="loader">
          <svg class="circular">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" 
                stroke-miterlimit="10"/>
          </svg>
        </div>
        <div class="loading-text">Loading...</span></div>
    </div>

    <!-- app canvas element -->
    <canvas id="big-canvas" ng-show="showAppCanvas" draw></canvas>

    <!-- seed display -->
    <div id="seedDisplay" layout="row" ng-if="false">
        
        <div layout="column" ng-repeat="seed in seedList">
            
            <md-input-container ng-if="seed[1].type == 'math'">
                <label>{{ seed[0] }}</label>
                <input type="text" 
                    ng-blur="seedChangeAsync($event, seed[0])"
                    ng-change="seedChange($event)" 
                    ng-model="seed[1].value" />
                <div ng-if="seed[1].parsing">
                    <spinner />
                    <span class="text-muted"> parsing...</span>
                </div>
                <div ng-if="!seed[1].parsing" class="text-muted">${{ seed[1].latex }}$</div>
            </md-input-container>

            <md-input-container 
                ng-if="seed[1].type == 'string' || seed[1].type == 'number'">
                <label>{{ seed[0] }}</label>
                <input type="text" 
                    ng-change="seedChange($event)" 
                    ng-model="seed[1].value" />
            </md-input-container>

            <md-input-container 
                ng-if="seed[1].type == 'color'">
                <label>{{ seed[0] }}</label>
                <input type="text" colorpicker 
                    ng-change="seedChange($event)" 
                    ng-model="seed[1].value" />
            </md-input-container>
            
            <md-input-container 
                ng-if="seed[1].type == 'javascript'">
                <label>{{ seed[0] }}</label>
                <input type="text" 
                    ng-change="seedChange($event)" 
                    ng-model="seed[1].value" />
            </md-input-container>

        </div>

        <br />

        <button ng-click="updateInstance()" 
            class="btn btn-primary" ng-disabled="!seedTouched">Reload</button>
        <button ng-click="saveAsNewInstance()" 
            class="btn btn-warning" ng-disabled="!readyToSave">Save as new instance</button>

    </div>

    <div id="seedDisplay" layout="row" layout-align="center center">
        
        <div ng-repeat="seed in seedList">
            
           <!--  <div flex="50"> -->

                <div ng-if="seed[1].type == 'math'">
                    <label>{{ seed[0] }}:</label>
                    <div ng-if="!seed[1].parsing" class="text-muted">${{ seed[1].latex }}$</div>
                </div>

                <div 
                    ng-if="seed[1].type == 'string' || seed[1].type == 'number'">
                    <label>{{ seed[0] }}:</label>
                    {{ seed[1].value }}
                </div>

                <div 
                    ng-if="seed[1].type == 'color'">
                    <label>{{ seed[0] }}:</label>
                    <div style="display: inline-block; width: 10px; height: 10px; background-color:{{ seed[1].value }}"></div>
                </div>
                
                <div 
                    ng-if="seed[1].type == 'javascript'">
                    <label>{{ seed[0] }}:</label>
                    {{ seed[1].value }}
                </div>

            <!-- </div> -->

        </div>

        <md-content layout="row" layout-align="start start">
            <md-button
                ng-click="editSeed($event)"
                role="button" 
                md-fab md-mini
                style="font-size:12px;">
                <md-icon md-font-set="material-icons">&#xE254;</md-icon>
                <span>Edit Seed</span>
            </md-button>
            <!-- <md-button
                ng-click="editSeed()"
                role="button" 
                class="md-fab md-mini"
                style="font-size:12px;">
                <md-icon md-font-set="material-icons">&#xE14D;</md-icon>
                <span>Cycle seed params</span> -->
            </md-button>
        </md-content>



    </div>

<!--  -->
    <!-- bottombar -->
    <div id="toolbar-bottom" layout="row" layout-wrap layout-align="center center">
          
        <span id="footer-title" flex="70">{{ instance.game.title }}</span>
        
        
        <div layout="row" layout-align="end center" flex="30">
            <button type="button" 
                class="btn btn-primary" 
                ng-click="snapshot()"
                ng-if="userLoggedIn">
              <span class="glyphicon glyphicon-camera"></span>
              Snapshot</button>&nbsp;
            <button type="button"
                class="btn btn-warning" 
                ng-click="viewSource()">
              <span class="glyphicon glyphicon-eye-open"></span>
              View source-code</button>
        </div>
        
           
    </div>
   

</md-content>