<md-content ng-controller="InstancesController">

    <md-card>
        <md-card-title>
            <h3>{{ app.title }}</h3>
        </md-card-title>
        <md-card-content>


            <div layout="row" layout-wrap>
                <div flex>

                    <div>by <strong>{{ app.owner.name }}</strong></div>
                    <div><strong>Category:</strong> {{app.category}}</div>
                    <div class="text-muted">created @ {{ app.created }}</div>
                    <hr />

                    <div layout="row">
                        <div ng-if="userLoggedIn">
                            <md-button class="md-raised md-primary"  
                                href="#/apps/{{ app.id }}/edit/" 
                                role="button" layout-align="center center">
                                <md-icon md-font-set="material-icons">&#xE254;</md-icon>
                                <span>Edit</span>
                            </md-button>

                            <md-button class="md-raised md-warn"  
                                href="#/apps/{{ app.id }}/edit/" 
                                role="button" layout-align="center center">
                                <md-icon md-font-set="material-icons">&#xE872;</md-icon>
                                <span>Delete</span>
                            </md-button>
                        </div>
                    </div>

                    <div class="caption">
                        <p>{{ app.description }}</p>
                    </div>


                    <md-button class="md-raised md-accent"  
                        href="#/apps/{{ app.id }}/edit/" 
                        role="button" layout-align="center center">
                        <md-icon md-font-set="material-icons">&#xE039;</md-icon>
                        <span>Play App</span>
                    </md-button>

                </div>
                <div flex="5"></div>
                <div flex="none">

                    <div style="width:300px;">
                        <md-grid-list md-cols="3" md-row-height="100px" md-gutter="0px">
                            <md-grid-tile ng-repeat="snapshot in snapshots">
                                <img ng-src="/media/{{ snapshot | thumbnail:125 }}" 
                                    class="thumbnail thumbnail-med" width="100" height="100" />
                            </md-grid-tile>
                        </md-grid-list>
                    </div>

                </div>
            </div>
            

            <h3>Instances</h3>

            <button class="btn btn-success" ng-click="instantiate()" ng-if="userLoggedIn">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Create a new instance
            </button><br /><br />


           

            <md-card ng-repeat="instance in app.instances | orderBy:'created':true" 
                ng-click="selectInstance(instance)">

                <md-card-content>

                {{ instance.instantiator.name }}&apos;s instance @ {{ instance.created }}
                <br /><br />

                <div class="layout container-fluid">
                <hr />
                <div flex="30">
                    <strong>Seed: </strong>
                    
                    <div ng-repeat="seedling in instance.seedlist">
                        <div>
                            <em>{{ seedling[0] }}:</em> 
                            
                                <span ng-if="!seedling[1].type || seedling[1].type == 'string' || seedling[1].type == 'number'" 
                                    class="text-muted">{{ seedling[1].value }}</span>
                                
                               
                                <div ng-if="seedling[1].type == 'color'" style="display: inline-block; background-color: {{ seedling[1].value }}; width: 15px; height: 15px; border: 1px solid #eeeeee;"></div>
                                
                                
                                <span ng-if="seedling[1].type == 'math'" class="text-muted">${{ seedling[1].latex }}$</span>

                                <span ng-if="seedling[1].type == 'javascript'" class="text-muted">{{ seedling[1].value }}</span>
                            
                        </div>
                    </div>
                 
                </div><br />
                <div flex="70">
                    <strong>Snapshots: </strong><hr />
                    <div class="container-fluid">
                        
                        <img ng-src="/media/{{ snap | thumbnail:125 }}" 
                            class="thumbnail thumbnail-tiny pull-left"
                            ng-repeat="snap in instance.snapshots" />
                    
                    </div>
                </div>
                </div>

            
                </md-card-content>
                
                <md-card-actions>
                    <!-- <a class="btn btn-primary" href="#/instance/{{ app.id }}/{{ instance.id }}/" 
                        role="button">View &raquo;</a> -->
                    <a class="btn btn-danger pull-right" 
                        ng-click="deleteInstance($event, instance)"
                        data-id="{{instance.id}}"
                        role="button" ng-if="userLoggedIn"><span class="glyphicon glyphicon-remove"></span>
                        Delete</a>
                </md-card-actions>

               
            </md-card>
           
           
            <div ng-if="app.instances.length == 0">
                <em>Creating first instance...
                    <span class="glyphicon glyphicon-refresh fa-spin-custom"></span>
                </em>
            </div>

        </md-card-content>
    </md-card>


            

</md-content>
