<md-content ng-controller="InstanceController">
    
    <!-- seed display -->
    <div id="seedDisplay" layout="row">
        <div layout="column" ng-repeat="(key,val) in instance._seed">
            <label>{{key}}</label>
            <input type="text" ng-model="val" />
        </div>
    </div>

    <div id="toolbar-bottom" layout-padding>
      
            
            <div id="control-panel-header-text" class="pull-left">{{ instance.game.title }}</div>
            
            <div class="container-fluid pull-right">
                <button type="button" class="btn btn-primary" ng-click="snapshot()">
                  <span class="glyphicon glyphicon-camera"></span>
                  Snapshot</button>&nbsp;
                <button type="button" class="btn btn-warning" ng-click="editSource()">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  View source-code</button>
            </div>
           
        </div>
    </div>

</md-content>