<md-content ng-controller="AppEditorController" ng-cloak ng-init="initializeEditor()">

  <div ng-if="isLoading" class="loading-bg">
      <div class="loader">
        <svg class="circular">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" 
              stroke-miterlimit="10"/>
        </svg>
      </div>
      <div class="loading-text">Loading...</span></div>
  </div>

  <md-card>
    <md-card-content>

    <form name="appform">

      <md-content class="container-fluid" layout="row" layout-padding>
        <div flex="35" layout="column" layout-align="top down">

          <md-input-container>
            <label for="id_title">Title</label>
            <input type="text" id="id_title" placeholder="Title" ng-model="app.title" />
          </md-input-container>
          <md-input-container>
              <label>Category</label>
              <md-select ng-model="app.category">
                <md-option ng-repeat="category in categories" 
                  ng-value="category.name"
                  ng-selected="(category.name == app.category) ? true:false">{{category.name}}</md-option>
              </md-select>
            </md-input-container><br />
            <md-input-container>
              <label>Script Language</label>
              <md-select ng-model="app.scriptType">
                <md-option ng-repeat="st in scriptTypes" ng-value="st">{{st}}</md-option>
              </md-select>
            </md-input-container><br />
          <md-input-container>
            <label class="control-label">Description</label>
          
              <textarea type="text" id="id_description"
                ng-model="app.description"></textarea>
           
          </md-input-container>
          <!-- <md-input-container>
            <label class="control-label">Code Modules</label>
                <br /><br /><br />
             
                <md-checkbox ng-repeat="mod in codeModules" 
                  ng-model="mod.selected" flex>{{ mod.title }}</md-checkbox>
             
           
          </md-input-container> -->

        </div>
        <div flex="grow" layout="column">

          <div>

            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab label="Source Code">

                  <md-content style="max-height: 400px;">
                    <div ng-if="isLoading">
                      <spinner />
                    </div>
                    <ui-codemirror ui-codemirror-opts="cmOptions"
                      ng-model="app.source" 
                      name="source" 
                      ui-refresh="editor1">
                    </ui-codemirror>
                  
                  </md-content>

              </md-tab>
              <md-tab label="Code Modules">

                <md-content layout="column" layout-padding>
                  
                    <md-checkbox ng-repeat="mod in codeModules" 
                      ng-model="mod.selected" flex>{{ mod.title }}</md-checkbox>
                  
                </md-content>

              </md-tab>
              <md-tab label="Seed Structure">

                <md-content>
                
                  <span ng-show="appform.seedStructure.$error.validateJson"
                    class="form-error">Invalid JSON</span>

                  <ui-codemirror ui-codemirror-opts="cm2Options"
                    name="seedStructure" 
                    ng-model-options="{updateOn: 'default blur'}"
                    validate-json
                    ng-model="app.seedStructure" ui-refresh="editor2">
                  </ui-codemirror>

                </md-content>
               
              </md-tab>
            </md-tabs>

          </div>

          

          
          
        </div>
      </md-content>


    </form>

  </md-card-content>
  <md-card-actions>
    <md-button class="md-primary md-raised" md-ripple-size="full" ng-click="back()">Cancel</md-button>
    <md-button class="md-success md-raised" md-ripple-size="full" ng-click="saveapp(event)">Save</md-button>
  </md-card-actions>
</md-card>
   

</md-content>