
<md-content ng-controller="InstancesController">

  <md-subheader class="md-primary">Apps</md-subheader>


  <md-card>
    <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" src="{{ app.owner.avatar }}" />
      </md-card-avatar>
      <md-card-header-text flex="grow">
        <span class="md-title">{{ app.title }}</span>
        <span class="md-subhead">by {{ app.owner.name }}</span>
      </md-card-header-text>
      <md-card-header-text flex>
        <small><abbr time-ago title="app.created" class="date"></abbr></small>
      </md-card-header-text>
    </md-card-header>
    <img ng-src="{{app.mainImage}}" class="md-card-image" alt="img">
    <md-card-title>
      <md-card-title-text class="md-primary">
        {{app.title}}
      </md-card-title-text>
      <md-card-title-text>

      </md-card-title-text>
    </md-card-title>
    <md-card-content layout-align="left">

      <p>
        Created <abbr time-ago title="app.created" class="date"></abbr>
        in category <a href="#">{{app.category.name}}</a>
        by {{app.owner.name}}
      </p>

      <p>
        <strong>Mime/type</strong>: {{app.scriptType}}<br />
      </p>

      <p><em>{{app.description}}</em></p>

      <!-- <h3>Instances</h3> -->


        <!-- <md-subheader class="md-no-sticky">Instances</md-subheader> -->
        <div ng-repeat="inst in app.instances">
          <md-card ng-click="selectInstance(inst)">
            <md-card-header class="md-primary">
              <md-card-avatar>
                <img class="md-user-avatar" ng-src="{{ inst.instantiator.avatar }}"/>
              </md-card-avatar>
              <md-card-header-text flex="grow">
                <span class="md-subhead">by {{ inst.instantiator.name }}</span>
              </md-card-header-text>
              <md-card-header-text flex>
                <!-- <small><abbr time-ago title="inst.created" class="date"></abbr></small> -->
                @ {{ inst.created }}
              </md-card-header-text>
            </md-card-header>

            <md-card-content>
              <!-- <md-subheader class="md-no-sticky">Seed</md-subheader> -->
              <div ng-repeat="(k,v) in JSON.parse(inst.seed)">
                  <strong>{{ k }}: </strong> {{ v }}<br />
              </div>
              <!-- <md-subheader class="md-no-sticky">Snapshots</md-subheader> -->
              <md-content layout-wrap layout-margin>
                <img class="thumbnail-tiny pull-left"
                    ng-src="/media/{{ im | thumbnail:125 }}"
                    ng-repeat="im in inst.snapshots" flex />
              </md-content>
            </md-card-content>
          </md-card>


    </md-card-content>

    <md-card-actions layout-padding layout="row" layout-align="end center">
      <md-button class="md-raised md-accent">
        <md-tooltip md-direction="bottom">
          Instantiate the same program with a different "seed"
        </md-tooltip>
        <md-icon md-font-set="material-icons">
          add_circle_icons</md-icon>Create a new instance
      </md-button>

        <md-button class="md-raised md-primary">
          <md-icon md-font-set="material-icons">visibility</md-icon>
            View Source
        </md-button>

        <md-button ng-disabled="true" class="md-raised ng-disabled">
          <md-tooltip md-direction="bottom">
            Must be logged in first...
          </md-tooltip>
          <md-icon md-font-set="material-icons">settings</md-icon>
          Alter and Fork
        </md-button>

    </md-card-actions>

  </md-card>


<a class="btn" ng-click="open('edit')"> Edit</a>
<!-- <a ng-hide="globals.is_authenticated" class="btn" href="/api-auth/login/"> Edit</a> -->
<a class="btn" href="#/"> Go back</a>




</md-content>
