<li {% if active_link == "games" %}class="active"{% endif %}>
    <a href="{% url 'exhibitions:exhibitions-home' %}">Apps at an Exhibition</a>
</li>

<!-- <li class="dropdown">
    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
    <ul class="dropdown-menu">
      {% for cat in categories %}
        <li><a href="{% url 'portfolio:list-category' cat.id %}">{{ cat.name }}</a></li>
      {% endfor %}
    </ul>
</li> -->

<li {% if active_link == "about" %}class="active"{% endif %}>
    <a href="{% url 'about' %}">About</a>
</li>
