{% extends "angular-index.html" %}

{% block maincontent %}

<md-content>
  
  <main class="main" role="main" flex>
    <div ng-view class="flex"></div>
  </main>

</md-content>

<!-- <canvas id="big-canvas" ng-show="showAppCanvas"></canvas>
<canvas id="bg-canvas" ng-show="showBGCanvas"></canvas> -->
<canvas id="big-canvas" ng-show="showAppCanvas" draw></canvas>
<iframe id="bg-iframe" src="/static/AaaE/iframe.html" 
	frameborder="0" width="100%" height="100%" 
	ng-show="showBGCanvas" scrolling="no"></iframe>

{% endblock %}

{% block bottomscripts %}

	<script type="text/javascript" src="/static/AaaE/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/static/AaaE/lib/angular-ui-codemirror/ui-codemirror.js"></script>
	<script src="/static/AaaE/lib/angular-material/angular-material.min.js"></script>
	<script src="/static/AaaE/lib/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="/static/AaaE/lib/angular-route/angular-route.js"></script>
	<script src="/static/AaaE/lib/angular-resource/angular-resource.js"></script>
	<script src="/static/AaaE/lib/angular-cookies/angular-cookies.js"></script>
	<script src="/static/AaaE/lib/angular-animate/angular-animate.js"></script>
	<script src="/static/AaaE/lib/angular-aria/angular-aria.js"></script>
	<script src="/static/AaaE/lib/angular-messages/angular-messages.js"></script>
	<script src="/static/node/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
	<!--<script src="/static/bower/angular-moment/moment.min.js"></script>-->



	<!-- main angular app  -->
	{% for include in angular_includes %}
	<script src="{{ include }}"></script>
	{% endfor %}

{% endblock %}