{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Plerpalerp</title>
        <!-- data-main attribute tells require.js to load
             scripts/main.js after require.js loads. -->

        <script data-main="/static/site/js/main" src="{% static 'site/js/require.js' %}"></script>
        <script type="text/javascript">
   //      	requirejs.config({
			//     baseUrl: '/static/site/js'
			// });

			
        </script>
    </head>
    <body>
        <h1>My Sample Project</h1>
    </body>
</html>