@nice-blue: #5B83AD;
@almost-clear: rgba(255, 255, 255, 0.95);

#floating-display-control {
    position: fixed;
    top: 100px;
    right: -8px;
    background-color: @nice-blue;
    background-color: @almost-clear;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 0px 0px 2px #dddddd;
}

