
<md-content ng-controller="AppDisplay">

  <md-subheader class="md-primary">Apps</md-subheader>


  <md-card>
    <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" src="{{ app.owner.avatar }}"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{ app.title }}</span>
        <span class="md-subhead">by {{ app.owner.name }}</span>
      </md-card-header-text>
      <span flex></span>
      <md-card-header-text>
        <small><abbr time-ago title="app.created" class="date">{{app.created}}</abbr></small>
      </md-card-header-text>
    </md-card-header>
    <img ng-src="{{app.mainImage}}" class="md-card-image" alt="img">
    <md-card-title>
      <md-card-title-text>
        <md-card-title-text class="md-headline">
          {{app.title}}
        </md-card-title-text>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>

      <p>Category: {{app.category.name}}</p>
      <p>{{app.scriptType}}<br>
        <small><abbr time-ago="{{app.created}}" title="{{app.created}}" class="date"></abbr></small>
        <small><b>by</b> {{app.owner.name}}</small>
      </p>
      <p>Instances: {{app.instances.length}}</p>
      <p>{{app.description}}</p>

    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon md-font-set="material-icons">favorites</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon md-font-set="material-icons">menu</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Share">
        <md-icon md-font-set="material-icons">share_arrow</md-icon>
      </md-button>
    </md-card-actions>

  </md-card>


<a class="btn" ng-click="open('edit')"> Edit</a>
<!-- <a ng-hide="globals.is_authenticated" class="btn" href="/api-auth/login/"> Edit</a> -->
<a class="btn" href="#/"> Go back</a>


<div modal="appModalEdit" close="close('create')">
  <a ng-click="close('edit')" class="close" data-dismiss="modal">×</a>

  <div class="modal-header">
    <h4>Edit app</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">

      <div class="control-group">
        <label class="control-label" for="id_title">Title</label>
        <div class="controls">
          <input type="text" id="id_title" placeholder="Title" ng-model="app.title">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_description">Description</label>
        <div class="controls">
          <textarea type="text" id="id_description"
          ng-model="app.description"></textarea>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_scriptType">Script Type</label>
        <div class="controls">
          <select ng-model="app.scriptType" ng-options="st.value as st.label for st in scriptTypes">
        </div>
      </div>

      <!-- <div class="control-group">
        <label class="control-label" for="tags">Instances</label>

        <div class="controls">
          <div>
            <span class="tag btn btn-info btn-small"
            ng-repeat="tag in app.tags_details">
            {[{tag.name}]}
            <i class="icon-white icon-remove remove-tag"
            ng-click="removeTag(tag)"></i>
          </span>
        </div>
        <div id="list-members-add">
          <input type="text" placeholder="Add tags"
          class="ui-autocomplete-input"
          ng-model="selectedTag" ng-change="selectTag()"
          autocomplete="off"
          typeahead="suggestion as suggestion.name for suggestion in getTag($viewValue)">
        </div>
      </div>
    </div> -->
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="update()">Update</button>
  <button class="btn btn-danger" ng-click="close('edit')">Cancel</button>
</div>
</div>

</md-content>
