{% extends 'game/gamebase.html' %}
{% load staticfiles %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'site/js/app/game.js' %}"></script>
{% endblock %}

{% block splash %}
  <canvas id="big-canvas"></canvas>
{% endblock %}

{% block controlPanel %}
<div id="floating-display-control" class="nav-panel">
    <div class="panel-header">
    {{ game.title }}
    </div>
    <div class="panel-body">

    </div>
    <div class="panel-footer">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-plus-sign"></span>
              &nbsp;&nbsp;Create New Game</button>
          <button type="button" class="btn btn-default" onclick="showSource();">
              <span class="glyphicon glyphicon-align-left"></span>
              &nbsp;&nbsp;Alter Game</button>
        </div>
    </div>
</div>
{% endblock %}
