{% extends 'base.html' %}
{% load staticfiles %}

{% block splash %}
  <canvas id="big-canvas" style="display: none;"></canvas>
{% endblock %}


{% block backboneTemplates %}
	<script type="text/template" id="list-apps">
	    <h1>Games</h1>
	    <ul>
		    <% _.each(games, function(game) { %>
		    	<li><a href="<%-game.id %>"><%-game.title %></a></li>
		    <% }); %>
	    </ul>
    </script>
{% endblock backboneTemplates %}



{% block container %}
	<div class="container text-page">
		<div id="list-apps-container"></div>
	</div>    
{% endblock container %}



{% block controlPanel %}
<div id="floating-display-control" class="nav-panel">
    <div class="panel-header">
    {{ game.title }}
    </div>
    <div class="panel-body">
        
    </div>
    <div class="panel-footer">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-plus-sign"></span>
              &nbsp;&nbsp;Create New Game</button>
          <button type="button" class="btn btn-default" onclick="showSource();">
              <span class="glyphicon glyphicon-align-left"></span>
              &nbsp;&nbsp;Alter Game</button>
        </div>
    </div>
</div>
{% endblock %}