{% extends 'base.html' %}
{% load staticfiles %}

{% block splash %}
  <canvas id="big-canvas" style="display: none;"></canvas>
{% endblock %}


{% block backboneTemplates %}
	<script type="text/template" id="list-games-template">
	    <h1>Games</h1>
	    <ul>
		    <% _.each(games, function(game) { %>
		    	<li>
                    <a href="#game/<%-game.id %>" data-id="<%- game.id %>"><%-game.title %></a>
                </li>
		    <% }); %>
	    </ul>
    </script>

	<script type="text/template" id="display-game-template">
	    <div class="page-header">
	    	<h1><%-title %></h1>
	    </div>
	    <div>by <strong><%-owner.name %></strong></div>
	    <div class="caption">
	    	<p><%- description %></p>
	    </div>
        <h3>Instances</h3>
        <% if (instances.length > 0) { %>
            <ul>
            <% _.each(instances, function(instance) { %>
                <li>
                    <%-instance.instantiator.name %>&apos;s instance @ <%- instance.timestamp %><br />
                    <strong>Seed: </strong><%- instance.seed %><br /><br />
                    <a class="btn btn-primary" href="#instance/<%-instance.id %>" role="button">View &raquo;</a>
                </li>
            <% }); %>
            </ul>
        <% } else { %>
            <em>No instances created.</em>
        <% } %>
    </script>
{% endblock backboneTemplates %}



{% block container %}
	<div class="container text-page" id="page-content">
		<div id="list-games"></div>
		<div id="display-game"></div>
	</div>    
{% endblock container %}



{% block controlPanel %}
<div id="floating-display-control" class="nav-panel" style="display: none;">
    <div class="panel-header">
    {{ game.title }}
    </div>
    <div class="panel-body">
        
    </div>
    <div class="panel-footer">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-plus-sign"></span>
              &nbsp;&nbsp;Create New Game</button>
          <button type="button" class="btn btn-default" onclick="showSource();">
              <span class="glyphicon glyphicon-align-left"></span>
              &nbsp;&nbsp;Alter Game</button>
        </div>
    </div>
</div>
{% endblock %}