<!doctype html>
<html ng-app="app">
{% load i18n %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="viewport" content="initial-scale=1" />

  <!-- opengraph tags -->
  <meta property="og:site_name" content="plerp.org">
  <meta property="og:type" content="website">
  <meta property="og:title" content="blog | ">
  <meta property="og:description" content="blog">

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="{{ STATIC_URL }}bower/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}site/js/plsysApp/assets/app.css"/>

  <title>Apps at an Exhibition</title>

</head>


<body ng-controller="Main" data-spy="scroll" id="index"
style="zoom: 1;" layout="row">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  {% verbatim %}

    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show App List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Apps at an Exhibition</h1>
    </md-toolbar>

    <ng-view view-state></ng-view>



    <!-- <div class="row">
      <div class="span12">
        <div class="pending-bg" pending-bar>
          <div class="alert alert-warning">loading ...</div>
        </div>
      </div>
    </div> -->

    {% endverbatim %}

    <!-- angular things -->
    <script src="{{ STATIC_URL }}bower/angular/angular.js"></script>
    <!-- bower angular things -->
    {% for lib in bower_includes %}
      <script src="{{ STATIC_URL }}bower/angular-{{lib}}/angular-{{lib}}.min.js"></script>
    {% endfor %}
    <script src="{{ STATIC_URL }}bower/angular-bootstrap/ui-bootstrap.js"></script>


    <!-- my angular app's things -->
    {% for file in jsapp_includes %}
      <script src="{{ STATIC_URL }}{{ file }}"></script>
    {% endfor %}

    <!-- main angular app  -->
    <script src="{{ STATIC_URL }}site/js/plsysApp/app.module.js"></script>
    <script src="{{ STATIC_URL }}site/js/plsysApp/directives.js"></script>


</body>
</html>
