<!doctype html>
<html ng-app="Exhibition" class="no-js">
{% load i18n %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>

  <!-- opengraph tags -->
  <meta property="og:site_name" content="plerp.org">
  <meta property="og:type" content="website">
  <meta property="og:title" content="blog | ">
  <meta property="og:description" content="blog">


  <!-- jquery and such -->
  <script src="{{ STATIC_URL }}site/js/libs/moment.min.js"></script>
  <script src="{{ STATIC_URL }}site/js/lib/jQuery2.1.1.js"></script>

  <!-- all bootstraping things -->
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
  <script src="{{ STATIC_URL }}site/js/libs/bootstrap.min.js"></script>

  <!-- angular things -->
  <script src="{{ STATIC_URL }}bower/angular/angular.js"></script>
  <!-- bower angular things -->
  {% for lib in bower_includes %}
    <script src="{{ STATIC_URL }}bower/angular-{{lib}}/angular-{{lib}}.min.js"></script>
  {% endfor %}
  <!-- things that require angular -->
  <script src="{{ STATIC_URL }}site/js/libs/ui-bootstrap-tpls-0.3.0.min.js"></script>

  <!-- main angular app  -->
  <script src="{{ STATIC_URL }}site/js/plsysApp/app.js"></script>
  <!-- my angular app's things -->
  {% for file in jsapp_includes %}
    <script src="{{ STATIC_URL }}{{ file }}"></script>
  {% endfor %}

  <title>Apps at an Exhibition</title>

</head>

<body data-spy="scroll" id="index" style="zoom: 1;" ng-controller="ExhibitionController"
ng-init="initialize('{{ user.is_authenticated }}')">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

{% verbatim %}
<div class="padded-content">
  <div id="main-content" class="container">
    <div class="row">
      <div class="span12">
        <div class="pending-bg" pending-bar>
          <div class="alert alert-warning">loading ...</div>
        </div>
      </div>
    </div>
    <ng-view view-state></ng-view>
  </div>
</div>
{% endverbatim %}


</body>
</html>
